<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Movie recommender</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Enter the movie you like to get recommendation for!</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('recommend')}}">
    <input type="text" name="movie" class="form-control" placeholder="Movie name here">
    <br>
    <input type="submit" class="btn btn-info" value="Enter">
    </form>

 </div>
 <div class="jumbotron">
        {% block content %}
        {% endblock %}
 </div>

</body>
</html>